@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap');

body {
  margin: 0;
  background-color: #fff;
  color: #111;
  font-family: 'Inter', sans-serif;
}

@keyframes fillBar {
  from {
    width: 0%;
  }
  to {
    width: var(--target-width);
  }
}

.animate-bar {
  animation: fillBar 1.5s ease-out forwards;
  width: 0%;
}

.team-tooltip {
  opacity: 0;
  transform: translateY(10px);
  transition: all 0.2s ease-out;
}

.group:hover .team-tooltip {
  opacity: 1;
  transform: translateY(0);
}